@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.messages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}